.meniu
{
	color: #E6E68A;
	min-width: 840px;
	border-bottom-style: inset;
	border-bottom-width: 10px;
	border-bottom-color: #E6E68A;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.meniu ul
{
	list-style: none;
	background-color: #30363D;
	text-align: center;
	padding: 0;
	margin: 0;
	overflow: auto;
}

.meniu ul #curenta
{
	background: #F5F5D0;
	color: #30363D;
}

.meniu ul #curenta a
{
	color: #30363D;
}

.meniu ul li:hover
{
	background-color: #005F5F;
}

.meniu ul ul
{
	background-color: #005F5F;
	position: absolute;
	display: none;
}

.meniu ul li:hover > ul
{
	background-color: #730000;
	display: block;
}

.meniu ul ul li
{
	width: 600px;
}

.meniu li
{
	width: 120px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
}

.leftBtn
{
	float: left;
}

.rightBtn
{
	float: right;
}

.meniu a 
{
	color: #F5F5D0;
	text-decoration: none;
	display: block;
	transition: .3s background-color;
}
 